USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 5/15/2024 6:13:55 PM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TEST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TEST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
USE [QLSV]
GO
/****** Object:  Sequence [dbo].[sinhvienSeq]    Script Date: 5/15/2024 6:13:56 PM ******/
CREATE SEQUENCE [dbo].[sinhvienSeq] 
 AS [bigint]
 START WITH 1100
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[tblDiem]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDiem](
	[ngaytao] [datetime] NULL,
	[nguoitao] [varchar](30) NULL,
	[ngaycapnhat] [datetime] NULL,
	[nguoicapnhat] [nvarchar](30) NULL,
	[masinhvien] [varchar](50) NOT NULL,
	[malophoc] [bigint] NOT NULL,
	[lanhoc] [int] NOT NULL,
	[diemthilan1] [float] NULL,
	[diemthilan2] [float] NULL,
 CONSTRAINT [PK_tblDiem_1] PRIMARY KEY CLUSTERED 
(
	[masinhvien] ASC,
	[malophoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGiaoVien]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGiaoVien](
	[ngaytao] [datetime] NULL,
	[nguoitao] [varchar](30) NULL,
	[ngaycapnhat] [datetime] NULL,
	[nguoicapnhat] [varchar](30) NULL,
	[magiaovien] [int] IDENTITY(1,1) NOT NULL,
	[ho] [nvarchar](10) NULL,
	[tendem] [nvarchar](20) NULL,
	[ten] [nvarchar](10) NOT NULL,
	[gioitinh] [tinyint] NULL,
	[ngaysinh] [date] NULL,
	[dienthoai] [varchar](30) NULL,
	[email] [varchar](150) NULL,
	[diachi] [nvarchar](150) NULL,
	[matkhau] [varchar](50) NULL,
 CONSTRAINT [PK_tblGiaoVien] PRIMARY KEY CLUSTERED 
(
	[magiaovien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLopHoc]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLopHoc](
	[ngaytao] [datetime] NULL,
	[nguoitao] [varchar](30) NULL,
	[ngaycapnhat] [datetime] NULL,
	[nguoicapnhat] [varchar](30) NULL,
	[malophoc] [bigint] IDENTITY(1,1) NOT NULL,
	[mamonhoc] [int] NULL,
	[magiaovien] [int] NULL,
	[daketthuc] [tinyint] NULL,
 CONSTRAINT [PK_tblLopHoc] PRIMARY KEY CLUSTERED 
(
	[malophoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMonHoc]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMonHoc](
	[ngaytao] [datetime] NULL,
	[nguoitao] [varchar](30) NULL,
	[ngaycapnhat] [datetime] NULL,
	[nguoicapnhat] [varchar](30) NULL,
	[mamonhoc] [int] IDENTITY(1,1) NOT NULL,
	[tenmonhoc] [nvarchar](150) NULL,
	[sotinchi] [int] NULL,
 CONSTRAINT [PK_tblMonHoc] PRIMARY KEY CLUSTERED 
(
	[mamonhoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSinhVien]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSinhVien](
	[ngaytao] [datetime] NULL,
	[nguoitao] [varchar](30) NULL,
	[ngaycapnhat] [datetime] NULL,
	[nguoicapnhat] [nchar](10) NULL,
	[masinhvien] [varchar](50) NOT NULL,
	[ho] [nvarchar](10) NOT NULL,
	[tendem] [nvarchar](20) NULL,
	[ten] [nvarchar](10) NOT NULL,
	[ngaysinh] [date] NULL,
	[gioitinh] [tinyint] NULL,
	[quequan] [nvarchar](150) NULL,
	[diachi] [nvarchar](150) NULL,
	[dienthoai] [varchar](30) NULL,
	[email] [nvarchar](150) NULL,
	[lopsinhhoat] [nvarchar](50) NULL,
	[matkhau] [varchar](50) NULL,
 CONSTRAINT [PK_tblSinhVien] PRIMARY KEY CLUSTERED 
(
	[masinhvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTaiKhoan]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTaiKhoan](
	[tentaikhoan] [varchar](50) NOT NULL,
	[matkhau] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[tentaikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblDiem] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [masinhvien], [malophoc], [lanhoc], [diemthilan1], [diemthilan2]) VALUES (CAST(N'2024-05-15T17:42:48.363' AS DateTime), N'admin', CAST(N'2024-05-15T17:42:48.363' AS DateTime), N'admin', N'SV1107', 1, 1, 1, 1)
INSERT [dbo].[tblDiem] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [masinhvien], [malophoc], [lanhoc], [diemthilan1], [diemthilan2]) VALUES (CAST(N'2024-05-15T17:58:02.650' AS DateTime), N'admin', CAST(N'2024-05-15T17:58:02.650' AS DateTime), N'admin', N'SV1110', 1, 2, 3, 4)
INSERT [dbo].[tblDiem] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [masinhvien], [malophoc], [lanhoc], [diemthilan1], [diemthilan2]) VALUES (CAST(N'2024-05-15T17:40:28.610' AS DateTime), N'admin', CAST(N'2024-05-15T17:40:28.610' AS DateTime), N'admin', N'SV1110', 2, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[tblGiaoVien] ON 

INSERT [dbo].[tblGiaoVien] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [magiaovien], [ho], [tendem], [ten], [gioitinh], [ngaysinh], [dienthoai], [email], [diachi], [matkhau]) VALUES (CAST(N'2024-04-24T15:43:05.400' AS DateTime), N'admin', CAST(N'2024-04-24T15:43:05.400' AS DateTime), N'admin', 1, N'Trần', N'Như', N'Cát', 1, CAST(N'1987-01-01' AS Date), N'01245555125255', N'nhucat@gmail.com', N'Địa chỉ của thầy như cát', N'123')
INSERT [dbo].[tblGiaoVien] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [magiaovien], [ho], [tendem], [ten], [gioitinh], [ngaysinh], [dienthoai], [email], [diachi], [matkhau]) VALUES (CAST(N'2024-04-24T15:43:05.400' AS DateTime), N'admin', CAST(N'2024-04-24T15:43:05.400' AS DateTime), N'admin', 2, N'Bùi', N'Văn', N'Hiếu', 1, CAST(N'1984-01-01' AS Date), N'0955448888', N'buivanhieu@gmail.com', N'Địa chỉ của thầy bùi văn hiếu', N'123')
INSERT [dbo].[tblGiaoVien] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [magiaovien], [ho], [tendem], [ten], [gioitinh], [ngaysinh], [dienthoai], [email], [diachi], [matkhau]) VALUES (CAST(N'2024-04-24T15:43:05.400' AS DateTime), N'admin', CAST(N'2024-04-24T15:43:05.400' AS DateTime), N'admin', 3, N'Nguyễn', N'Thị Hải', N'Yến', 0, CAST(N'1977-12-11' AS Date), N'09845545888', N'nguyenthihaiyen@gmail.com', N'Địa chỉ của cô hải yến', N'123')
SET IDENTITY_INSERT [dbo].[tblGiaoVien] OFF
GO
SET IDENTITY_INSERT [dbo].[tblLopHoc] ON 

INSERT [dbo].[tblLopHoc] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [malophoc], [mamonhoc], [magiaovien], [daketthuc]) VALUES (CAST(N'2024-05-15T06:34:38.857' AS DateTime), N'admin', CAST(N'2024-05-15T06:34:38.857' AS DateTime), N'admin', 1, 1, 1, 0)
INSERT [dbo].[tblLopHoc] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [malophoc], [mamonhoc], [magiaovien], [daketthuc]) VALUES (CAST(N'2024-05-15T06:34:56.530' AS DateTime), N'admin', CAST(N'2024-05-15T06:34:56.530' AS DateTime), N'admin', 2, 2, 2, 0)
INSERT [dbo].[tblLopHoc] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [malophoc], [mamonhoc], [magiaovien], [daketthuc]) VALUES (CAST(N'2024-05-15T06:34:56.530' AS DateTime), N'admin', CAST(N'2024-05-15T06:34:56.530' AS DateTime), N'admin', 3, 3, 3, 0)
SET IDENTITY_INSERT [dbo].[tblLopHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMonHoc] ON 

INSERT [dbo].[tblMonHoc] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [mamonhoc], [tenmonhoc], [sotinchi]) VALUES (CAST(N'2024-04-24T15:45:17.410' AS DateTime), N'admin', CAST(N'2024-04-24T15:45:17.410' AS DateTime), N'admin', 1, N'Tin học đại cương', 2)
INSERT [dbo].[tblMonHoc] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [mamonhoc], [tenmonhoc], [sotinchi]) VALUES (CAST(N'2024-04-24T15:45:17.413' AS DateTime), N'admin', CAST(N'2024-04-24T15:45:17.413' AS DateTime), N'admin', 2, N'Toán cao cấp I', 2)
INSERT [dbo].[tblMonHoc] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [mamonhoc], [tenmonhoc], [sotinchi]) VALUES (CAST(N'2024-04-24T15:45:17.413' AS DateTime), N'admin', CAST(N'2024-04-24T15:45:17.413' AS DateTime), N'admin', 3, N'Phân tích thiết kế CSDL', 2)
SET IDENTITY_INSERT [dbo].[tblMonHoc] OFF
GO
INSERT [dbo].[tblSinhVien] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [masinhvien], [ho], [tendem], [ten], [ngaysinh], [gioitinh], [quequan], [diachi], [dienthoai], [email], [lopsinhhoat], [matkhau]) VALUES (CAST(N'2024-05-12T17:00:04.460' AS DateTime), N'admin', CAST(N'2024-05-12T17:00:04.460' AS DateTime), N'admin     ', N'19SV1103', N'Nguyễn', N'Thành', N'Danh', CAST(N'2002-01-01' AS Date), 0, N'Bình Ðịnh', N'Gia Lai', N'095554545521', N'thanhdanh@gmail.com', NULL, N'123')
INSERT [dbo].[tblSinhVien] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [masinhvien], [ho], [tendem], [ten], [ngaysinh], [gioitinh], [quequan], [diachi], [dienthoai], [email], [lopsinhhoat], [matkhau]) VALUES (CAST(N'2024-05-12T17:03:16.530' AS DateTime), N'admin', CAST(N'2024-05-12T17:03:16.530' AS DateTime), N'admin     ', N'19SV1104', N'Nguyễn', N'Thành', N'Danh', CAST(N'2002-01-01' AS Date), 1, N'', N'', N'', N'', NULL, N'123')
INSERT [dbo].[tblSinhVien] ([ngaytao], [nguoitao], [ngaycapnhat], [nguoicapnhat], [masinhvien], [ho], [tendem], [ten], [ngaysinh], [gioitinh], [quequan], [diachi], [dienthoai], [email], [lopsinhhoat], [matkhau]) VALUES (CAST(N'2024-04-24T15:56:02.733' AS DateTime), N'admin', CAST(N'2024-04-24T15:56:02.733' AS DateTime), N'admin     ', N'SV1101', N'Dương', N'', N'Quá', CAST(N'2001-01-01' AS Date), 1, NULL, N'Cổ mộ cùng Cô cô', N'0988554887', N'quaquecungchymcut@gmail.com', NULL, N'123')
GO
INSERT [dbo].[tblTaiKhoan] ([tentaikhoan], [matkhau]) VALUES (N'admin', N'admin')
GO
ALTER TABLE [dbo].[tblDiem] ADD  CONSTRAINT [DF_tblDiem_ngaytao]  DEFAULT (getdate()) FOR [ngaytao]
GO
ALTER TABLE [dbo].[tblDiem] ADD  CONSTRAINT [DF_tblDiem_nguoitao]  DEFAULT ('admin') FOR [nguoitao]
GO
ALTER TABLE [dbo].[tblDiem] ADD  CONSTRAINT [DF_tblDiem_ngaycapnhat]  DEFAULT (getdate()) FOR [ngaycapnhat]
GO
ALTER TABLE [dbo].[tblDiem] ADD  CONSTRAINT [DF_tblDiem_nguoicapnhat]  DEFAULT ('admin') FOR [nguoicapnhat]
GO
ALTER TABLE [dbo].[tblGiaoVien] ADD  CONSTRAINT [DF_tblGiaoVien_ngaytao]  DEFAULT (getdate()) FOR [ngaytao]
GO
ALTER TABLE [dbo].[tblGiaoVien] ADD  CONSTRAINT [DF_tblGiaoVien_nguoitao]  DEFAULT ('admin') FOR [nguoitao]
GO
ALTER TABLE [dbo].[tblGiaoVien] ADD  CONSTRAINT [DF_tblGiaoVien_ngaycapnhat]  DEFAULT (getdate()) FOR [ngaycapnhat]
GO
ALTER TABLE [dbo].[tblGiaoVien] ADD  CONSTRAINT [DF_tblGiaoVien_nguoicapnhat]  DEFAULT ('admin') FOR [nguoicapnhat]
GO
ALTER TABLE [dbo].[tblGiaoVien] ADD  DEFAULT ('123') FOR [matkhau]
GO
ALTER TABLE [dbo].[tblLopHoc] ADD  CONSTRAINT [DF_tblLopHoc_ngaytao]  DEFAULT (getdate()) FOR [ngaytao]
GO
ALTER TABLE [dbo].[tblLopHoc] ADD  CONSTRAINT [DF_tblLopHoc_nguoitao]  DEFAULT ('admin') FOR [nguoitao]
GO
ALTER TABLE [dbo].[tblLopHoc] ADD  CONSTRAINT [DF_tblLopHoc_ngaycapnhat]  DEFAULT (getdate()) FOR [ngaycapnhat]
GO
ALTER TABLE [dbo].[tblLopHoc] ADD  CONSTRAINT [DF_tblLopHoc_nguoicapnhat]  DEFAULT ('admin') FOR [nguoicapnhat]
GO
ALTER TABLE [dbo].[tblMonHoc] ADD  CONSTRAINT [DF_tblMonHoc_ngaytao]  DEFAULT (getdate()) FOR [ngaytao]
GO
ALTER TABLE [dbo].[tblMonHoc] ADD  CONSTRAINT [DF_tblMonHoc_nguoitao]  DEFAULT ('admin') FOR [nguoitao]
GO
ALTER TABLE [dbo].[tblMonHoc] ADD  CONSTRAINT [DF_tblMonHoc_ngaycapnhat]  DEFAULT (getdate()) FOR [ngaycapnhat]
GO
ALTER TABLE [dbo].[tblMonHoc] ADD  CONSTRAINT [DF_tblMonHoc_nguoicapnhat]  DEFAULT ('admin') FOR [nguoicapnhat]
GO
ALTER TABLE [dbo].[tblSinhVien] ADD  CONSTRAINT [DF_tblSinhVien_ngaytao]  DEFAULT (getdate()) FOR [ngaytao]
GO
ALTER TABLE [dbo].[tblSinhVien] ADD  CONSTRAINT [DF_tblSinhVien_nguoitao]  DEFAULT ('admin') FOR [nguoitao]
GO
ALTER TABLE [dbo].[tblSinhVien] ADD  CONSTRAINT [DF_tblSinhVien_ngaycapnhat]  DEFAULT (getdate()) FOR [ngaycapnhat]
GO
ALTER TABLE [dbo].[tblSinhVien] ADD  CONSTRAINT [DF_tblSinhVien_nguoicapnhat]  DEFAULT ('admin') FOR [nguoicapnhat]
GO
ALTER TABLE [dbo].[tblSinhVien] ADD  DEFAULT ('123') FOR [matkhau]
GO
ALTER TABLE [dbo].[tblDiem]  WITH CHECK ADD  CONSTRAINT [FK_tblDiem_tblLopHoc] FOREIGN KEY([malophoc])
REFERENCES [dbo].[tblLopHoc] ([malophoc])
GO
ALTER TABLE [dbo].[tblDiem] CHECK CONSTRAINT [FK_tblDiem_tblLopHoc]
GO
ALTER TABLE [dbo].[tblDiem]  WITH CHECK ADD  CONSTRAINT [FK_tblDiem_tblSinhVien] FOREIGN KEY([masinhvien])
REFERENCES [dbo].[tblSinhVien] ([masinhvien])
GO
ALTER TABLE [dbo].[tblDiem] CHECK CONSTRAINT [FK_tblDiem_tblSinhVien]
GO
ALTER TABLE [dbo].[tblLopHoc]  WITH CHECK ADD  CONSTRAINT [FK_tblLopHoc_tblGiaoVien] FOREIGN KEY([magiaovien])
REFERENCES [dbo].[tblGiaoVien] ([magiaovien])
GO
ALTER TABLE [dbo].[tblLopHoc] CHECK CONSTRAINT [FK_tblLopHoc_tblGiaoVien]
GO
ALTER TABLE [dbo].[tblLopHoc]  WITH CHECK ADD  CONSTRAINT [FK_tblLopHoc_tblMonHoc] FOREIGN KEY([mamonhoc])
REFERENCES [dbo].[tblMonHoc] ([mamonhoc])
GO
ALTER TABLE [dbo].[tblLopHoc] CHECK CONSTRAINT [FK_tblLopHoc_tblMonHoc]
GO
/****** Object:  StoredProcedure [dbo].[allLopHoc]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[allLopHoc]
	@tukhoa nvarchar(50)
as
begin
	set @tukhoa = lower(@tukhoa); -- lowercase <-> viết thường
	select 
		l.malophoc,
		l.mamonhoc,
		m.tenmonhoc,
		m.sotinchi,
		case 
			when len(g.tendem) > 0 then concat(g.ho,' ',g.tendem,' ',g.ten)
			else concat(g.ho,' ',g.ten) end as gvien 
		
	from tblLopHoc l
	inner join tblMonHoc m on l.mamonhoc = m.mamonhoc
	inner join tblGiaoVien g on l.magiaovien = g.magiaovien
	where  m.tenmonhoc like '%'+@tukhoa+'%' -- tìm kiếm tương đối có chứa từ khóa
	or lower(concat(g.ho,' ',g.tendem,' ',g.ten)) like '%'+@tukhoa+'%' -- tìm kiếm tương đối có chứa từ khóa
	or lower(concat(g.ho,' ',g.tendem,' ',g.ten)) like '%'+@tukhoa+'%'; -- tìm kiếm tương đối có chứa từ khóa
end
GO
/****** Object:  StoredProcedure [dbo].[dangnhap]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[dangnhap]
	@loaitaikhoan varchar(10),
	@taikhoan varchar(50),
	@matkhau varchar(50)
as
begin
	if @loaitaikhoan = 'admin' 
			select *	
			from tblTaiKhoan 
			where tentaikhoan = @taikhoan
			and matkhau = @matkhau
		else if @loaitaikhoan = 'gv'
			select *	
			from tblGiaoVien
			where CONVERT(varchar(50), magiaovien) = @taikhoan
			and matkhau = @matkhau
		else
			select *
			from tblSinhVien
			where masinhvien = @taikhoan
			and matkhau = @matkhau
end
GO
/****** Object:  StoredProcedure [dbo].[InsertGV]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertGV]
	@nguoitao varchar(30),
	@ho nvarchar(10),
	@tendem nvarchar(20), 
	@ten nvarchar(10),
	@gioitinh tinyint,
	@ngaysinh date,
	@email varchar(150),
	@dienthoai varchar(30),
	@diachi nvarchar(150)
as
begin
	insert into tblGiaoVien(nguoitao,ho,tendem,ten,gioitinh,ngaysinh,email,dienthoai,diachi)
	values(@nguoitao,@ho,@tendem,@ten,@gioitinh,@ngaysinh,@email,@dienthoai,@diachi);
	if @@ROWCOUNT > 0 return 1 else return 0 ;
end;
GO
/****** Object:  StoredProcedure [dbo].[insertlophoc]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertlophoc]
	@nguoitao varchar(30),
	@magiaovien int,
	@mamonhoc int
as
begin
	insert into tblLopHoc(nguoitao,mamonhoc,magiaovien)
	values(@nguoitao,@mamonhoc,@magiaovien);
	if @@ROWCOUNT > 0 return 1 else return 0;
end
GO
/****** Object:  StoredProcedure [dbo].[insertMH]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[insertMH]
	@nguoitao varchar(30),
	@tenmonhoc nvarchar(150),
	@sotinchi int
as
begin
	insert into tblMonHoc(nguoitao,tenmonhoc,sotinchi)
	values(@nguoitao,@tenmonhoc,@sotinchi);
	if @@ROWCOUNT > 0 return 1 else return 0;
end
GO
/****** Object:  StoredProcedure [dbo].[monDaDKy]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[monDaDKy]
	@masinhvien varchar(30)
as
begin
	select
		l.malophoc,
		m.tenmonhoc,
		m.sotinchi,
		case when len(trim(g.tendem)) > 0 then concat(g.ho, ' ', g.tendem, ' ', g.ten)
		else concat(g.ho, ' ', g.ten) end as gvien
	from tblDiem d
	inner join tblLopHoc l on d.malophoc = l.malophoc
	inner join tblMonHoc m on l.mamonhoc = m.mamonhoc
	inner join tblGiaoVien g on l.magiaovien = g.magiaovien
	where d.masinhvien = @masinhvien
	and l.daketthuc = 0;
end
GO
/****** Object:  StoredProcedure [dbo].[selecmh]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[selecmh]
	@mamh int
as
begin
	select 
		tenmonhoc,
		sotinchi
	from tblMonHoc
	where mamonhoc = @mamh;
end
GO
/****** Object:  StoredProcedure [dbo].[selectAllGV]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[selectAllGV]
	@tukhoa nvarchar(50)
as
begin
	set @tukhoa = lower(ltrim(rtrim(@tukhoa)));
	select 
		magiaovien,
		case when len(ltrim(rtrim(tendem))) > 0 then concat(ltrim(rtrim(ho)),' ',ltrim(rtrim(tendem)), ' ', ltrim(rtrim(ten)))
		else  concat(ltrim(rtrim(ho)),' ', ltrim(rtrim(ten))) end as hoten,
		convert(varchar(10),ngaysinh,103) as ngaysinh,
		case when gioitinh = 1 then 'Nam' else N'Nữ' end as gt,
		dienthoai,
		email,
		diachi
	from tblGiaoVien
	where lower(ho) like '%'+@tukhoa+'%'
	or lower(tendem) like '%'+@tukhoa+'%'
	or lower(ten) like '%'+@tukhoa+'%'
	or lower(ho) like '%'+@tukhoa+'%'
	or lower(email) like '%'+@tukhoa+'%'
	or lower(dienthoai) like '%'+@tukhoa+'%'
	or lower(magiaovien) like '%'+@tukhoa+'%'
	order by ten;
end
GO
/****** Object:  StoredProcedure [dbo].[selectAllMonHoc]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[selectAllMonHoc]
	@tukhoa nvarchar(50)
as
begin
	set @tukhoa = lower(ltrim(rtrim(@tukhoa)));
	select 
		mamonhoc,
		tenmonhoc,
		sotinchi
	from tblMonHoc
	where mamonhoc like '%'+@tukhoa+'%'
	or lower(tenmonhoc) like '%'+@tukhoa+'%'
	order by tenmonhoc;	
end
GO
/****** Object:  StoredProcedure [dbo].[SelectAllSinhVien]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SelectAllSinhVien]
    @tukhoa nvarchar(50) --tìm kiếm sinh viên dựa vào từ khóa
	--1: tìm theo mã sinh viên
	--2: tìm theo họ, tên đệm, tên sinh viên
	--3: tìm theo số điện thoại
	--loại tìm kiếm: tương đối
as
select
    masinhvien, 
    case 
	  when LEN(tendem) > 0 then
	       CONCAT(ho, ' ', tendem, ' ', ten)
	  else concat(ho, ' ', ten)
	 end as hoten,
	 CONVERT(varchar(10), ngaysinh, 103) as ngaysinh,
	 case
	   when gioitinh=1 then 'Nam'
	   else N'Nữ'
	 end as gioitinh,
	 quequan,
	 diachi, dienthoai, email
from tblSinhVien
where
  lower(ho) like '%'+lower(trim(@tukhoa)) + '%'
  or lower(tendem) like '%'+lower(trim(@tukhoa)) + '%'
  or lower(ten) like '%'+lower(trim(@tukhoa)) + '%'
  or dienthoai like '%'+lower(trim(@tukhoa)) + '%'
  or email like '%'+lower(trim(@tukhoa)) + '%'
order by ten;
GO
/****** Object:  StoredProcedure [dbo].[selectGV]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selectGV]
	@mgv int
as
begin
	select
		ho,tendem,ten,
		gioitinh,convert(varchar(10),ngaysinh,103) as ngsinh,
		dienthoai,email,diachi
	from tblGiaoVien
	where magiaovien = @mgv;
end
GO
/****** Object:  StoredProcedure [dbo].[selectLopHoc]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selectLopHoc]
	@malophoc bigint
as
begin
	select
		m.tenmonhoc,
		g.magiaovien,
		l.mamonhoc
	from tblLopHoc l
	inner join tblGiaoVien g on l.magiaovien = g.magiaovien
	inner join tblMonHoc m on l.mamonhoc = m.mamonhoc
	where malophoc = @malophoc;
end
--drop proc selectlophoc
GO
/****** Object:  StoredProcedure [dbo].[selectSV]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[selectSV]
  @masinhvien varchar(50)
AS
BEGIN
     SELECT 
     ho, tendem, ten, convert(varchar(10), ngaysinh, 103) as ngsinh,
	 case
	   when gioitinh=1 then 'Nam' else N'Nữ'
	 end as gtinh,
	 quequan, diachi, dienthoai, email
	 FROM tblSinhVien
	 WHERE masinhvien=@masinhvien;
END
GO
/****** Object:  StoredProcedure [dbo].[ThemMoiSV]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemMoiSV]
  --khai báo danh sách tham số truyền vào
  @Ho nvarchar(10),
  @TenDem nvarchar(20),
  @Ten nvarchar(10),
  @Ngaysinh date,
  @Gioitinh tinyint,
  @Quequan nvarchar(150),
  @DiaChi nvarchar(150),
  @Dienthoai varchar(30),
  @Email varchar(150)
  --kết thúc khai báo tham số truyền vào
AS
BEGIN
  --thêm dữ liệu mới
  INSERT INTO tblSinhVien
  (
    masinhvien,
	ho, tendem, ten,
	ngaysinh, gioitinh,
	quequan, diachi,
	dienthoai, email
	)VALUES( 
	'SV' + CAST(NEXT VALUE FOR sinhvienSeq as varchar(30)),
	@Ho, @TenDem, @Ten,
	@Ngaysinh, 
	@Gioitinh,
	@Quequan, @Diachi,
	@Dienthoai, @Email
  ); -- kết thúc thêm mới dữ liệu
  -- kiểm tra xem đã insert thành công hay chưa
  IF @@ROWCOUNT > 0 BEGIN RETURN 1 END
  ELSE BEGIN RETURN 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[updateGV]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[updateGV]
	@magiaovien int,
	@nguoicapnhat varchar(30),
	@ho nvarchar(10),
	@tendem nvarchar(20), 
	@ten nvarchar(10),
	@gioitinh tinyint,
	@ngaysinh date,
	@email varchar(150),
	@dienthoai varchar(30),
	@diachi nvarchar(150)
as
begin
	update tblGiaoVien
	set nguoicapnhat = @nguoicapnhat,
		ngaycapnhat = getdate(),
		ho = @ho,tendem = @tendem, ten = @ten,
		gioitinh = @gioitinh, ngaysinh = @ngaysinh, email = @email, dienthoai = @dienthoai, diachi = @diachi
	where magiaovien = @magiaovien;
	if @@ROWCOUNT > 0 return 1 else return 0;
end;
GO
/****** Object:  StoredProcedure [dbo].[updatelophoc]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updatelophoc]
	@nguoicapnhat varchar(30),
	@malophoc bigint,
	@magiaovien int,
	@mamonhoc int
as
begin
	update tblLopHoc
	set
		ngaycapnhat = getdate(),
		nguoicapnhat = @nguoicapnhat,		
		magiaovien = @magiaovien
	where malophoc = @malophoc;
	if @@ROWCOUNT > 0 return 1 else return 0;
end
--select * from tblLopHoc
-- drop proc updatelophoc
GO
/****** Object:  StoredProcedure [dbo].[updateMH]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[updateMH]
	@nguoicapnhat varchar(30),
	@mamonhoc bigint,
	@tenmonhoc nvarchar(150),
	@sotinchi int
as
begin
	update tblMonHoc
	set
		nguoicapnhat = @nguoicapnhat,
		ngaycapnhat = getdate(),
		tenmonhoc = @tenmonhoc,
		sotinchi = @sotinchi
	where mamonhoc = @mamonhoc;
	if @@ROWCOUNT > 0 return 1 else return 0;
	
end
GO
/****** Object:  StoredProcedure [dbo].[updateSV]    Script Date: 5/15/2024 6:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[updateSV]
   @masinhvien varchar(50),
   @ho nvarchar(10),
   @tendem nvarchar(20),
   @ten nvarchar(10),
   @ngaysinh date,
   @gioitinh tinyint,
   @quequan nvarchar(150),
   @diachi nvarchar(150),
   @dienthoai varchar(30),
   @email varchar(150)
AS
BEGIN
   UPDATE tblSinhVien
   SET
     ho=@ho,
	 tendem=@tendem,
	 ten=@ten,
	 ngaysinh=@ngaysinh,
	 gioitinh=@gioitinh,
	 quequan=@quequan,
	 diachi=@diachi,
	 dienthoai=@dienthoai,
	 email=@email
	WHERE masinhvien=@masinhvien;
	IF @@ROWCOUNT > 0 BEGIN RETURN 1 END
	ELSE BEGIN RETURN 0 END;
END
GO
USE [master]
GO
